@{
        ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h3>Bem vindo</h3>
</div>
<div class="row">
    <div class="col-md-4">
        
        <p>
            <input type="button" value="Grade de matriculas">
           
        </p>
    </div>
    <div class="col-md-4">
        <button type="button" value="Historico" onclick="location.href='@Url.Action("Index")'" />
      
   
    </div>
    <div class="col-md-4">
        <input type="button" value="Turmas">
      

    </div>
</div> 

