@using Microsoft.AspNetCore.Identity
@using Entidades.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
        ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
<div class="jumbotron">
    <h3>Seja bem vindo, @UserManager.Users.FirstOrDefault(user => user.Email == User.Identity.Name).Nome!</h3>
    <p class="lead">A Universidade Kubitschek é uma instituição comunitária de educação superior, que atua no ensino, na pesquisa e na extensão, em permanente interação com a sociedade, visando à formação de cidadãos responsáveis, autônomos, inovadores e solidários, com vistas ao desenvolvimento científico, cultural, social e econômico.</p>
</div>

    @if (UserManager.Users.FirstOrDefault(user => user.Email == User.Identity.Name).Admin)
    {
        <partial name="Index_coordenador" />
    }
    else
    {
        <h3>Sou Aluno</h3>
        <hr>
        <div class="row mb-5">
            <div class="col-md-4">
                <a class="text-decoration-none text-reset" asp-area="" asp-controller="Matriculas"
                                   asp-action="Index">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title"><i class="fa fa-calendar"></i> Matrículas</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="text-decoration-none text-reset" asp-area="" asp-controller="Historico"
                                   asp-action="Index">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title"><i class="fa fa-book"></i> Historico</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                        
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="text-decoration-none text-reset" asp-area="" asp-controller="Turmas"
                                   asp-action="Index">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title"><i class="fa fa-group"></i> Turmas</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                        
                        </div>
                    </div>
                </a>
            </div>
        </div> 
    }
}
else
{
    <div class="jumbotron">
        <h3>Bem vindo ao Matrículas PSA</h3>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <a class="text-decoration-none text-reset" asp-area="" asp-controller="Turmas"
                               asp-action="Index">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fa fa-group"></i> Turmas</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        
                    </div>
                </div>
            </a>
        </div>
    </div> 
}



