<h3>Sou Coordenador</h3>
<hr>
<div class="row">
    <div class="col-md-4">
        <a class="text-decoration-none text-reset" asp-area="" asp-controller="Turmas"
                               asp-action="Index">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fa fa-group"></i> Turmas</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="text-decoration-none text-reset" asp-area="" asp-controller="Turmas"
           asp-action="Percentual">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fa fa-file-pdf-o"></i> Relatório de ocupação</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="text-decoration-none text-reset" asp-area="" asp-controller="Matriculas"
           asp-action="AlunosMatriculados">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fa fa-file-pdf-o"></i> Relatório de alunos matrículados</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>

                </div>
            </div>
        </a>
    </div>
</div> 