@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta!</a>
</p>
    }
    else
    {
<p>
        Por favor verifique seu email para configurar sua conta.
</p>
    }
}
